.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .form{
    align-self: center;
  }

  .form{
    align-self: center;
  }